* {
    padding: 0;
    margin: 0;
    
}

body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    color: white;
}

.fundo{
    background-image: url(/IMG/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

article {
    margin-bottom: 15px;
}

.conteiner h1{
    margin-top: 180px;
    margin-left: 90px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    color: white;
}

#primeiro{
    width: 1240px;
    height: 500px;
    display:flex;
    justify-content: space-around;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 35px;
    margin-bottom: 100px;
    
}

#primeiro div {
    width: 280px;
    height: 280px;
    
}

.conteiner h2{
    margin-top: 180px;
    margin-left: 90px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    color: white;
}

#segundo{
    width: 1240px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 35px;
    
}

#segundo div {
    width: 280px;
    height: 280px;
}

.conteiner h2{
    margin-top: 180px;
    margin-left: 90px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    color: black;
}

#terceiro{
    width: 1240px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 35px;
    
}

#terceiro div {
    width: 280px;
    height: 280px;
}

  * {
    margin: 0;
    padding: 0;

}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7
}

.aba{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: absolute;
    top: 10px;
    width: 80%;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: black;
    height: 10vh;
}

main{
    background: url("/IMG/fundo.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 50px;
}

.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}

.logo{
    position: absolute;
    top: -1vh;
    width: 80%;
}

.logo2{
    position: absolute;
    top: 316vh;
    width: 80%;
}

.aba2{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: absolute;
    top: 2365px;
    width: 80%;
}
