* {
    padding: 0;
    margin: 0;
    
}

body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    background-color: #14166b;
    color: #fff;
}
/* Header */
.logo{
    position: absolute;
    top: -1vh;
    width: 80%;
}


article {
    margin-bottom: 15px;
}

.conteiner h1{
    margin-top: 180px;
    margin-left: 90px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    color: white;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: black;
    height: 100px;
}



.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 50px;
}

.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}


/* Header */

/* Fileira 1 */
#primeiro{
    width: 1240px;
    height: 500px;
    display:flex;
    justify-content: space-around;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 35px;
    margin-bottom: 100px;
    
}

#primeiro div {
    width: 280px;
    height: 280px;
    
}

.conteiner h2{
    margin-top: 180px;
    margin-left: 90px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    color: white;
}
/* Fileira 1 */

/* Fileira 2 */
#segundo{
    width: 1240px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 35px;
   
}

#segundo div {
    width: 280px;
    height: 280px;
}

.conteiner h2{
    margin-top: 180px;
    margin-left: 90px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    color: rgb(255, 255, 255);
}
/* Fileira 2 */

/* Fileira 3 */

#terceiro{
    width: 1240px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 35px;
    
}

#terceiro div {
    width: 280px;
    height: 280px;
}



a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7
}

.aba{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: absolute;
    top: 10px;
    width: 80%;
}




/* Rodape */
footer{
    background: black;
    height: 40px;
    width: 100%;
    padding: 15px;
    color: white;
    margin-bottom: 0;
    
  }
  

p{
    font-size: 12px;
    text-align: center;
    
}
  
  
    
/* Rodape */